<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Home - HOUSE</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        .popup {
            position: fixed;
            top: 20px;
            right: 20px;
            background-color: #4BB543;
            color: white;
            padding: 15px 25px;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.2);
            z-index: 1000;
            animation: fadein 0.5s ease;
        }
        @keyframes fadein {
            from {opacity: 0;}
            to {opacity: 1;}
        }
        </style>
    <script src="https://kit.fontawesome.com/c8f20f991d.js" crossorigin="anonymous"></script>

</head>

<body>
    {% if messages %}
      <div id="popup-message" class="popup">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
    <nav id="navbar" class="navbar-white">
        <a href="/">
            <img src="/static/images/logo.png" class="logo">
        </a>
        <ul class="nav-links">
            <li><a href="/">Popular Places</a></li>
            <li><a href="/travel">Travel Outside</a></li>
            <li><a href="/listing" class="active">Online Packages</a></li>
            <li><a href="{% url 'my_bookings' %}">My Bookings</a></li>
        </ul>
        {% if user.is_authenticated %}
        <a href="/logout/" class="register-btn">Logout</a>
        <span class="register-btn">Welcome, {{ user.username }}</span>
        <i class="fa fa-bars" onclick="togglebtn()"></i>

        {% else %}
        <a href="/login/"  class="register-btn">Login</a>
        <a href="/register/" class="register-btn">Register</a>
        <i class="fa fa-bars" onclick="togglebtn()"></i>

        {% endif %}
    </nav>
    <div class="house-details">

        <div class="house-title">
            <h1>Wenge house</h1>
            <div class="row">
                <div>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <span>245 reviews</span>
                </div>
                <div>
                    <p>Location: New Delhi,Delhi,India</p>
                </div>
            </div>
        </div>
        <div class="gallery">
            <div class="gallery-img-1"><img src="/static/images/house-1.png"></div>
            <div><img src="/static/images/house-2.png"></div>
            <div><img src="/static/images/house-3.png"></div>
            <div><img src="/static/images/house-4.png"></div>
            <div><img src="/static/images/house-5.png"></div>

        </div>
        <div class="small-details">
            <h2>Entire rental unit hosted by Rahul</h2>
            <p>2 guest &nbsp; &nbsp; 2 beds &nbsp; &nbsp; 1 bathroom</p>
            <h4>₹ 3000 / day</h4>
        </div>
        <hr class="line">
        <form class="check-form" method="post" >
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="contact-host">Book Now</button>



            <!-- {% comment %} <a href = "/booked"><button type="submit">Book Now</button></a> {% endcomment %}
            <a href="/booked" class="contact-host">Book Now</a> -->
            
        </form>
        <ul class="details-list">
            <li><i class="fa-solid fa-house"></i>Entire Home
                <span>You will have the entire flat for you.</span>
            </li>
            <li><i class="fa-solid fa-paintbrush"></i>Enhanced Clean
                <span>This host has committed to staybnb's cleaning process.</span>
            </li>
            <li><i class="fa-solid fa-location-dot"></i>Great Location
                <span>90% of recent guests gave the location a 5 star rating.</span>
            </li>
            <li><i class="fa-solid fa-heart"></i>Great Check-in Experience
                <span>100% of recent guests gave the check-in process a 5 star rating.</span>
            </li>
        </ul>
        <hr class="line">
        <p class="home-desc">Guests will be allocated on the ground floor according to availability. You get a
            comfortable Two bedroom apartment has a true city feeling. The price quoted is for two guest, at the guest
            slot please mark the number of guests to get the exact price for groups. The Guests will be allocated ground
            floor according to availability. You get the comfortable two bedroom apartment that has a true city feeling.
        </p>
        <hr class="line">
        <div class="map">
            <h3>Location on map</h3>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d289898.1788108292!2d77.0476215075438!3d28.509681880659226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x52c2b7494e204dce!2sNew%20Delhi%2C%20Delhi!5e0!3m2!1sen!2sin!4v1701347928267!5m2!1sen!2sin"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <b>Delhi</b>
            <p>It's like a home away from home</p>
        </div>
        <hr class="line">
        <div class="host">
            <img src="/static/images/host.png">
            <div>
                <h2>Hosted by Rahul</h2>
                <p><span>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </span>&nbsp; &nbsp; 245 Reviews &nbsp; &nbsp; Response rate 100% &nbsp; &nbsp; Response time: 60min
                </p>
            </div>
        </div>
        <a href="#" class="contact-host">Contact Host</a>
        {% comment %} <a href="/booked" class="contact-host">Book Now</a> {% endcomment %}

        {% comment %} <i class="fa fa-bars" onclick="togglebtn()"></i> {% endcomment %}
    </div>
    <div class="container">
        <div class="footer">
            <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://youtube.com/"><i class="fab fa-youtube"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
            <hr>
            <p>Copyright © 2023, Travel Home.</p>
        </div>
    </div>

    <script>
        var navBar = document.getElementById("navbar"); function togglebtn() {
            navBar.classList.toggle("hidemenu");
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        setTimeout(function() {
            const popup = document.getElementById('popup-message');
            if (popup) {
                popup.style.display = 'none';
            }
        }, 3000); // 3 seconds
    </script>
    {% if bo == "yes" %}
        <script>
            Swal.fire({
                title: "Booking Successfull!",
                icon: "success"
            });
        </script>
    {% endif %}
</body>

</html>